%table.bordered
  %thead
    %tr
      %th{"data-field" => "id"} Date
      %th{"data-field" => "name"} Distance
      %th{"data-field" => "price"} Time
      %th{"data-field" => "price"} Total # of Miles
  %tbody
    %tr
      %td Alvin
      %td Eclair
      %td $0.87
      %td ajksld;f
    %tr
      %td Alan
      %td Jellybean
      %td $3.76
      %td asdf
    %tr
      %td Jonathan
      %td Lollipop
      %td $7.00
      %td askdlfo
