%table.bordered.padding
  %thead
    %tr
      %th{"data-field" => "id"} Date
      %th{"data-field" => "name"} Distance
      %th{"data-field" => "price"} Time
  %tbody
    =create_table(@activities)
    %tr
      %td Alvin
      %td Eclair
      %td $0.87
    %tr
      %td Alan
      %td Jellybean
      %td $3.76
    %tr
      %td Jonathan
      %td Lollipop
      %td $7.00
