%table.bordered.padding
  %thead
    %tr
      %th{"data-field" => "id"} Date
      %th{"data-field" => "name"} Distance (in miles)
      %th{"data-field" => "price"} Time (in minutes)
      %th{"data-field" => "price"} Total Distance (in miles)
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.date
        %td= activity.distance_mi
        %td= activity.time_min
        %td= activity.total_distance_mi
