%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quantify
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{ :rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"}
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons" }
    = csrf_meta_tags
  %body.body-dark
    .navbar-fixed
      %nav.light-blue.accent-4
        .nav-wrapper
          %ul.left.left-spacing
            %li
              %a{:href => '/', :title => 'Home'}
                %i.material-icons home
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              %a.btn.green.padding-right{:href => "#modal1"} Email
    #modal1.modal
      .modal-content
        %h4 Modal Header
        %p A bunch of text
      .modal-footer
        %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree
    = yield
