%table.bordered
  %thead
    %tr
      %th{"data-field" => "id"} Name
      %th{"data-field" => "name"} Item Name
      %th{"data-field" => "price"} Item Price
  %tbody
    %tr
      %td Alvin
      %td Eclair
      %td $0.87
    %tr
      %td Alan
      %td Jellybean
      %td $3.76
    %tr
      %td Jonathan
      %td Lollipop
      %td $7.00
